* {
  margin: 0;
  padding: 0;
}
/* .tdbr2 {
  border-radius: 1px ;
} */
.hform {
  border: 2px solid #131921;
  border-radius: 5px;
}
.hform:hover {
  border: 2px solid #ff9900;
}
button:focus {
  box-shadow: none !important;
}
.m_signin_model {
  display: block;
}
.m_ht_signin_model a {
  color: #333;
  font-size: 14px;
  padding: 3px;
}
.m_ht_signin_model a:hover {
  color: #ff9900;
  text-decoration: underline;
}

header {
  /* height: 99px; */
  border: 1px red dashed;
  background: #131921;
}
.a_header_top {
  height: 60px;
  border: 1px dashed green;
  z-index: 10000;
  background: #131921;
}
.a_header_top > button:hover {
  border: 1px solid #fff;
}
.m_countrydd {
  width: 20% !important;
  left: 950px !important;
  top: 25px;
}
.a_header_bottom {
  height: 39px;
  border: 1px dashed cyan;
  background: #47494b;
}
.a_header_bottom a {
  padding: 0px 10px 0px 10px !important;

  font-size: 12px;
  color: #fff;
}

.a_header_bottom a:hover {
  outline: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
}
.a_header_bottom a:active,
.a_header_bottom a:focus {
  color: white;
}

.m_main {
  height: 4818px;
  border: 1px dashed blue;
  background: #eaeded;
}
.m_main_top {
  height: 600px;
  border: 1px dashed green;
}
.m_main_bottom {
  height: 4517px;
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin-top: -300px;
  width: 97%;
  margin-left: 20.5px;
}
.m_main_bottom_1 {
  border: 1px dashed cyan;
}
.m_main_bottom_1 > div {
  height: 423px;
  border: 1px dashed green;
}
.m_main_bottom_2 {
  border: 1px dashed purple;
}
.m_main_bottom_2 > div {
  height: 428px;
  border: 1px dashed pink;
}
.m_main_bottom_3 {
  height: 367px;
  background-color: green;
}
.imgCont {
  height: 300px;
  border: 1px dashed red;
}
.imgCont > div {
  border: 1px dashed blue;
}
#carouselExampleControls2 .m_cc {
  background: rgba(0, 0, 0, 0.5);
  width: 3%;
  height: 30%;
  top: 108px;
  border-radius: 2px;
}

footer {
  height: 227px;
  border: 1px dashed green;
  background: #131921;
}
