* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
/* .tdbr2 {
  border-radius: 1px ;
} */

.offcanvas {
  margin-left: -40px;
}
.offcanvas-body {
  margin-left: 20px;
}

.offcanvas a {
  margin-left: 10px;
}
.hform {
  border: 2px solid #131921;

  border-radius: 10px;
}
.hform:hover {
  border: 2px solid #ff9900;
}

button:focus {
  box-shadow: none !important;
}
/* signin model header */

.m_ht_signin_model {
  top: 30px !important;
  left: 368px !important;
}
.m_ht_signin_model a {
  color: #333;
  font-size: 14px !important;
  padding: 3px !important;
}
.m_ht_signin_model a:hover {
  color: #ff9900;
  text-decoration: underline;
}
.m_signin_model {
  display: block;
}
.m_signin_model p {
  margin-top: 20px;
}

/* signin model header end */

header {
  /* height: 99px; */
  /* border: 1px red dashed; */
  background: #131921;
}
.a_header_top {
  height: 60px;
  /* border: 1px dashed green; */
  z-index: 10000;
  background: #131921;
}
.a_header_top > button:hover {
  border: 1px solid #fff;
}
.m_countrydd {
  width: 20% !important;
  left: 950px !important;
  top: 25px !important;
}
.a_header_bottom {
  height: 39px;
  /* border: 1px dashed cyan; */
  background: #47494b;
}
.a_header_bottom a {
  padding: 0px 10px 0px 10px !important;

  font-size: 12px;
  color: #fff;
}

.a_header_bottom a:hover {
  outline: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
}
.a_header_bottom a:active,
.a_header_bottom a:focus {
  color: white;
}
/* main carousel */

.m_main {
  min-height: 4818px;
  border: 1px dashed blue;
  background: #eaeded;
}
.m_main_top {
  height: 600px;
  /* border: 1px dashed green; */
}
.m_main_top .carousel-indicators .active {
  display: none;
}
.m_main_top .carousel-indicators > button {
  display: none;
}
.m_main_top .carousel-control-prev:focus,
.m_main_top .carousel-control-next:focus {
  border: 2px solid #008296;
}
.m_main_top .carousel-control-prev,
.m_main_top .carousel-control-next {
  width: 5%;
  height: 55.5%;
}
/* main carousel end */

.m_main_bottom {
  height: 4517px;
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: -300px;
  width: 97%;
  margin-left: 20.5px;
}
.m_main_bottom_1 {
  border: 1px dashed cyan;
}
.m_main_bottom_1 > div {
  height: 423px;
  border: 1px dashed green;
}
.m_main_bottom_2 {
  border: 1px dashed purple;
}
.m_main_bottom_2 > div {
  height: 428px;
  border: 1px dashed pink;
}
/* todays deal carousel css */
.m_main_bottom_3 {
  height: 367px;
  background-color: white;
}
.m_main_bottom_3 > .mb5 > button:hover {
  text-decoration: underline !important;
  color: #ff9900;
}
.imgCont {
  height: 300px;
}

.carouselExampleControls2 .carousel-control-prev,
.carouselExampleControls2 .carousel-control-next {
  background: white;
  width: 3%;
  height: 30%;
  margin: 0px 15px 0px 15px;
  top: 70px;
  border-radius: 2px;
  padding: 15px 0px 0px 0px;
  display: block !important;
}
.carouselExampleControls2 .carousel-control-prev-icon:after {
  color: #000;
  content: '<';
  font-size: 45px;
}
.carouselExampleControls2 .carousel-control-next-icon:after {
  color: #000;
  content: '>';
  font-size: 45px;
}
.carouselExampleControls2 .carousel-control-prev {
  box-shadow: 2px 1px 4px 4px rgba(0, 0, 0, 0.2);
}
.carouselExampleControls2 .carousel-control-next {
  box-shadow: -2px 1px 4px 4px rgba(0, 0, 0, 0.2);
}
.carouselExampleControls2 .carousel-indicators .active {
  display: none;
}
.carouselExampleControls2 > .carousel-indicators > button {
  display: none;
}
.span1 {
  display: inline-block;
  margin-top: 10px;
  padding: 0px 5px 0px 8px;
  font-size: 15px;
  background-color: #cc0c39;
  border-radius: 2px;
  color: white;
}
.span2 {
  display: inline-block;

  padding: 0px 5px 0px 5px;
  font-size: 15px;
  color: #cc0c39;
}
/* todays deal carousel css end */
.m_main_bottom_4 {
  height: 367px;
  background-color: white;
}

/* carousel upper image css */
.m_mainbox1 {
  background: white;
  width: 98%;
  height: 98%;
}
.m_mainbox1_inner > div {
  height: 90%;
}
.m_mainbox1_inner > a {
  text-decoration: none;
}
.m_mainbox1_inner > a:hover {
  color: #ff9900;
  text-decoration: underline;
}
.m_mainbox1_inner .col-6 {
  height: 140px;
}
footer {
  border: 1px dashed green;
}
.m_footer_top {
  height: 452px;
  background: #232f3e;
}
.m_footer_top .container {
  max-width: 990px;
}
.m_footer_top a {
  color: white;
  padding: 4px 0px;
  font-size: 14px;
}
.m_footer_top h6 {
  font-weight: 700;
}
.m_footer_top a:hover {
  text-decoration: underline;
  color: white;
}
.m_footer_bottom {
  height: 227px;
  background: #131921;
}
.m_footer_bottom a {
  color: white;
  font-size: 12px;
  padding: 0px;
}
.m_footer_bottom a:hover {
  color: white;
  text-decoration: underline;
}
.m_footer_bottom ul {
  width: 50%;
}
.m_footer_bottom ul li {
  margin-bottom: 10px;
}
.m_footer-button {
  color: white !important;
}
.m_footer-button:hover {
  background: transparent !important;
}
/* //////////////////Detail page css//////////////////////// */
.m_dtl_main {
  width: 98%;
}
.m_dtl_top_bannar {
  height: 50px;
  border: 1px solid blue;
}
.tdr {
  border: 1px dashed green;
}
.m_dtl_productcontainer {
  min-height: 1742px;
}
.m_dtl_produContBottom {
  height: 330px;
  border: 1px solid green;
}
.m_dtl_haveQ {
  height: 170px;
}
.m_dtl_prodRelItem {
  height: 370px;
}
.m_dtl_cusAlsoView {
  height: 400px;
}
.m_dtl_custQnA {
  min-height: '540px';
  border: 1px solid green;
}
.m_dtl_customerReview {
  min-height: 1264px;
  border: 1px solid blue;
}
.m_dtl_customerReview_aside {
  height: 311px;
  border: 1px solid black;
}
.m_dtl_customerReview_aside .progress {
  background: #ffa41c;
}
.m_dtl_customerReview_aside a {
  text-decoration: none;
}
.m_individual_commit {
  min-height: 300px;
  border: 1px dashed red;
}
.review_with_img {
  height: 400px;
  border: 1px solid cyan;
}
.m_dtl_productThum {
  width: 50px;
}
.m_dtl_productThum a:hover {
  border: 1px solid #ff9900 !important;
  box-shadow: 0px 0px 8px 2px #ff9900;
}
.m_dtl_prodMainImg {
  width: 450px;
  height: 450;
}
.m_dtl_prodMainImg:hover > div > div:last-child {
  overflow: hidden;
  z-index: 1;
}
.dt1225 {
  top: 1225px;
}
.m_buybtn {
  background: #ffa41c !important;
  color: #000 !important;
}
.dtl_sponsoredBox {
  height: 280px;
}
.dtl_sponsoredBox_imgcont {
  height: 250px;
}
/* //////////////////Detail page end css//////////////////////// */
